TD {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
LI {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.C01 {
	COLOR: #ffffff
}
.L13 {
	LINE-HEIGHT: 130%
}
.L15 {
	LINE-HEIGHT: 150%
}
.L17 {
	LINE-HEIGHT: 170%
}
.F7 {
	FONT-SIZE: 7px
}
.F16 {
	FONT-SIZE: 16px
}
.s01 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 1px inset; BORDER-LEFT: 1px inset; BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; VERTICAL-ALIGN: text-bottom
}
.s02 {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge
}
A:link {
	COLOR: #00007f
; text-decoration: none
}
A:visited {
	COLOR: #65038e
; text-decoration: none
}
A:active {
	COLOR: #ff0000
}
A:hover {
	COLOR: #ff0000
; text-decoration: underline
}
A.a01:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:active {
	COLOR: #eeeeee; TEXT-DECORATION: none
}
A.a01:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a02:link {
	COLOR: #0000ff
; text-decoration: none
}
A.a02:visited {
	COLOR: #0000ff
; text-decoration: none
}
A.a02:active {
	COLOR: #ff0000
}
A.a02:hover {
	COLOR: #ff0000
}
A.a03:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a03:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a03:active {
	COLOR: #ff0000
}
A.a03:hover {
	COLOR: #ff0000
}
A.a04:link {
	COLOR: #00007f; TEXT-DECORATION: none
}
A.a04:visited {
	COLOR: #00007f; TEXT-DECORATION: none
}
A.a04:active {
	COLOR: #ff0000
}
A.a04:hover {
	COLOR: #ff0000
}
#mydown {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
#mydown1 {
	HEIGHT: 240px; LEFT: 0px; POSITION: absolute; TOP: 0px; VISIBILITY: hidden; WIDTH: 100px
}
button {  font-family: "ו"; font-size: 12px; text-decoration: none; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
