.blank{FONT-FAMILY:ו;FONT-SIZE:9pt}a{font-family:"ו","Verdana","Arial";font-size:9pt;text-decoration:none;color:#330099;line-height:14pt}A:link{COLOR:#004080;FONT-SIZE:9pt;TEXT-DECORATION:none}A:visited{TEXT-DECORATION:none}A:hover{COLOR:red;TEXT-DECORATION:underline}table,p,td,input,select,textarea{font-size:9pt;font-family:ו,Times New Roman,Times,serif;LINE-HEIGHT:130%;SCROLLBAR-FACE-COLOR: #FFFFFF; FONT-SIZE: 12px; 
	SCROLLBAR-HIGHLIGHT-COLOR: #84b6ad;  
	SCROLLBAR-SHADOW-COLOR: #84b6ad; COLOR: #000003; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #84b6ad; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF;}textarea,select{letter-spacing:1px;background-color:#f3f5f5;}input{font-size:9pt;background-color:lightgray;color:blank}body { font-size:9pt;LINE-HEIGHT:130%;SCROLLBAR-FACE-COLOR: #FFFFFF; FONT-SIZE: 12px; 
	SCROLLBAR-HIGHLIGHT-COLOR: #84b6ad;  
	SCROLLBAR-SHADOW-COLOR: #84b6ad; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #84b6ad; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF; } 