body		{ 
		background: #Ffffff;  
		font-size: 75%;  
		font-family: ו; 
                }
 td{ 
		font-size:9pt;
      	  }
 p{ 
		font-size:9pt;
      	  }
 li{ 
		font-size:9pt;
      	  }
BigFont{
                font-size:11pt;
}
select.smallselsect
     {
     font-size:9pt;
     color:rgb(0,0,128) ;
     }
input.smallInput
     {
     font-size:9pt;
     background-color: white;
     color:rgb(0,0,128) ;
     }
textarea.smallarea
     {
     font-size:9pt;
     background-color: white;
     color: rgb(0,0,128) ;
     }
input.buttonface
     {
     font-size:9pt;
     background-color: #0099CC; 
     color: ffffff ;
     }
a:link {color: #0066cc; text-decoration: none}
a:visited {color: #003399;text-decoration:none}
a:hover {text-decoration:underline}