a:link {  font-size: 9pt; color: #000099; text-decoration: none}
a:visited {  font-size: 9pt; color: #000099; text-decoration: none}
a:hover {  font-size: 9pt; color: #CC3300; text-decoration: underline}