body {font-family:"verdana", "arial", "helvetica", "Tahoma"; font-size: 9pt; color:#000000;
scrollbar-face-color:'CCCCCC'; 
scrollbar-shadow-color:'CCCCCC'; 
scrollbar-highlight-color:'CCCCCC'; 
scrollbar-3dlight-color:'D9D9D9'; 
scrollbar-darkshadow-color: '808080'; 
scrollbar-track-color:'F8F8F8'; 
scrollbar-arrow-color:'808080' }
td {font-family:verdana,arial,helvetica,Tahoma; font-size: 9pt}
div {font-family:verdana,arial,helvetica,Tahoma; font-size: 9pt}
form{font-family:verdana,arial,helvetica,Tahoma; font-size: 9pt}
select{font-size: 9pt}
OPTION{font-size: 9pt}
p{font-family:verdana,arial,helvetica,Tahoma; font-size: 9pt}
br{font-family:verdana,arial,helvetica,Tahoma; font-size: 9pt}
A {font-family:verdana,arial,helvetica,Tahoma; text-decoration: none; color:'000000'; font-size: 9pt}
A:hover {font-family:"verdana", "arial", "helvetica", "Tahoma"; text-decoration: none; color:#FF0000;  font-size: 9pt}
.informat01{font-family:verdana,arial,helvetica,Tahoma; font-size:9pt; background-color:'EFEFEF'}
.i02{font-family:"verdana", "arial", "helvetica", "Tahoma"; font-size:9pt; background-color: 'EFEFEF'; color: #000000; border: 1 solid '000000'}
.i03{ background-color:'EFEFEF'; 
BORDER-TOP-WIDTH: 1px; 
PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; 
BORDER-LEFT-COLOR:'FFFFFF'; BORDER-BOTTOM-WIDTH: 1px; 
BORDER-BOTTOM-COLOR:'C0C0C0'; PADDING-BOTTOM: 1px; 
BORDER-TOP-COLOR:'FFFFFF'; PADDING-TOP: 1px; 
HEIGHT: 20px; BORDER-RIGHT-WIDTH: 1px; 
BORDER-RIGHT-COLOR:'C0C0C0'}
.i04{font-family:"verdana", "arial", "helvetica", "Tahoma"; font-size:9pt; 
background-color: 'ffffff'; color: #000000; 
border: 1 solid '000000'; background=''} 
.i05{font-family:"verdana", "arial", "helvetica", "Tahoma"; font-size:9pt; 
background-color: 'D9D9D9'; color: #000000; 
border: 1 solid '808080';}
.botton    {border-bottom:#000000 1px solid; background-color:#F1F1F1; border-left:#FFFFFF 1px solid; border-right:#333333 1px solid; border-top:#FFFFFF 1px solid; font-size: 9pt; font-family:"??"; height:20px; color: #000000; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; padding-top: 1px; border-style: ridge}
.textfield {border-bottom:#000000 1px solid; background-color:#FFFFFF; border-left:#000000 1px solid; border-right:#000000 1px solid; border-top:#000000 1px solid; font-size: 9pt; font-family:"ו";}